html, body, #root {
  height: 100%;
  margin: 0;

  background-color: whitesmoke;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  animation: colorchange 3s infinite;
}

@keyframes colorchange {
  0%   { color: red; }
  25%  { color: orange; }
  50%  { color: green; }
  75%  { color: blue; }
  100% { color: red; }
}

a {
  margin-right: 5px;
  margin-left: 5px;
}

p {
  margin: 0;
  padding: 0;
}